{% extends "base.html" %}

{% block head_title %}Registration page{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 blog-main">
            <!--<div class="blog-header">-->
                <!--<h1 class="blog-title">Login</h1>-->
                <!--<p class="lead blog-description">Please to login in your cabinate</p>-->
            <!--</div>-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Registration</strong></h3>
                </div>
                {% if not user.is_authenticated %}
                <div class="panel-body">
                    {% if not success %}
                    <form action="" method="post">{% csrf_token %}
                        <div class="form-group">
                            <label for="emailId">Email</label>
                            <input type="email" class="form-control" id="emailId" placeholder="Enter email" value="{{ form.email.value|default:'' }}" name="email" required>
                            {% if form.errors.email %}
                                <strong class="text text-danger">{{ form.errors.email.as_text }}</strong>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password" value="{{ form.password.value|default:'' }}" minlength="4" maxlength="50" name="password" required>
                            {% if form.errors.password %}
                                <strong class="text text-danger">{{ form.errors.password.as_text }}</strong>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Confirm password</label>
                            <input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password" value="{{ form.confirm_password.value|default:'' }}" minlength="4" maxlength="50" name="confirm_password" required>
                            {% if form.errors.confirm_password %}
                                <strong class="text text-danger">{{ form.errors.confirm_password.as_text }}</strong>
                            {% endif %}
                        </div>
                        {% if error %}
                        <div class="text-danger">
                            <label>{{ error_message }}</label>
                        </div>
                        {% endif %}
                        <button type="submit" class="btn btn-default">Sign in</button>
                    </form>
                    {% else %}
                        <div class="text-success">
                            <label>{{ success_message }}</label>
                        </div>
                    {% endif %}
                </div>
                {% else %}
                <div class="margin-full-10">
                    <p>Hello, {{ user.username }}. You are already registered. <a href="{% url 'logout-view' %}">(Logout)</a> </p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

    function validatePassword(){
      if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>
{% endblock %}