<div class="well">
  <form> 
    {% for variation in variations %}
    <h4>{{ variation.name }}</h4>
    <div class="row">
      <div class="col-lg-6">
        <ul class="list-unstyled">
        {% for tag in variation.variations.all %}
          <label>
            <input type="checkbox" name="{{ tag.id }}" value="yes"> <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
          </label><br>
        {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %} 
  </form>
</div>