{% load static %}

<div id="top">
    <div class="container">
        <div class="col-md-6 offer" data-animate="fadeInDown">
            <a href="#" class="btn btn-success btn-sm" data-animate-hover="shake">Offer of the day</a>  <a href="#">Get flat 35% off on orders over $50!</a>
        </div>
        <div class="col-md-6" data-animate="fadeInDown">
            <ul class="menu">
                {% if not request.user.is_authenticated %}
                <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
                <li><a href="{% url 'registration-url' %}">Register</a></li>
                {% else %}
                <li><a href="{% url 'profile-url' %}">Profile</a></li>
                <li><a href="{% url 'logout-view' %}">Logout</a></li>
                {% endif %}
                <li><a href="contact.html">Contact</a></li>
                <li><a href="#">Recently viewed</a></li>
            </ul>
        </div>
    </div>
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="Login">Customer login</h4>
                </div>
                <div class="modal-body">

                    <form action="{% url 'email-login' %}" method="post">{% csrf_token %}
                        <div class="form-group">
                            <label for="emailId">Username or Email</label>
                            <input type="email" class="form-control" id="emailId" placeholder="Enter email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="passId">Password <a href="{% url 'forgot-password-url' %}">(forgot password)</a></label>
                            <input type="password" class="form-control" id="passId" placeholder="Password" name="password" required>
                        </div>
                        {% if error %}
                        <div class="text-danger">
                            <label>{{ error_message }}</label>
                        </div>
                        {% endif %}
                        <p class="text-center">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                        </p>
                    </form>

                    <p class="text-center text-muted">Not registered yet?</p>
                    <p class="text-center text-muted"><a href="register.html"><strong>Register now</strong></a>! It is easy and done in 1&nbsp;minute and gives you access to special discounts and much more!</p>
                </div>
            </div>
        </div>
    </div>
</div>