{% extends "admin/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{{ settings.SITE_NAME }}:  Customer panel{% endblock %}

{% block branding %}
<h1 id="site-name"><img src="{{ settings.SITE_LOGO }}" class="admin-logo"> Customer panel</h1>
<link rel="stylesheet" href="{% static 'css/admin_style.css' %}">
{% endblock %}

{% block nav-global %}{% endblock %}